*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sfondo: #7FFFD4;
    --cellaAttiva: aliceblue;
    --numeroCelle: x;
}


.container-debug{
    width: 100%;
    height: 100vh;
    position: relative;
}

.containerr{
    background-color: var(--sfondo);
    height: calc(100% - 54px);
}

#select{
    border: 1px solid lightgray;
    border-radius: 6px;

}

.griglia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 40%;
    margin: 0 auto;
}

.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc( 100% / var(--numeroCelle));
    aspect-ratio: 1;
}

.aliceblue{
    background-color: var(--cellaAttiva);
}

.red{
    background-color: rgb(255, 90, 90);
}

#result{
    border: 3px solid skyblue;
    text-align: center;
    padding: 3rem;
    border-radius: 15px;
    display: inline-block;
    background-color: #1d1e22;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
  }